/* Estilos generales para las filas y columnas */
.fila {
    display: flex;
    flex-wrap: wrap;
}

.columna {
    flex: 1;
    margin: 10px;
}

@media (max-width: 767px) {
    .columna {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .columna {
        width: 48%;
    }
}