<div class="upload-file bg-light">
    <app-form (newItemEvent)="getData($event)"></app-form>
</div>
<div class="plots-container">
    <div class="fila">
        <div class="columna">
            <app-table [data]="currentData"></app-table>
        </div>
        <div class="columna">
            <app-geograph></app-geograph>
        </div>
    </div>
    <div class="fila">
        <div class="columna">
            <app-columns></app-columns>
        </div>
        <div class="columna">
            <app-circular [data]="currentData"></app-circular>
        </div>
    </div>
</div>


